
.dropdown-content {
    display: none; /* 기본 숨김 */
    position: absolute; /* 부모 요소에 대해 절대 위치 */
    top: calc(100% + 0px); /* 부모 요소의 높이 바로 아래 + 여백 */
    left: 0; /* 좌측 정렬 */
    background: rgba(24,24,24,1); /* linear-gradient(90deg, rgb(80, 100, 143) 0%, rgb(84, 112, 184) 100%); */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 100px; /* 최소 너비 설정 */
    width: 100%; /* 필요한 만큼의 너비로 설정 */
    padding: 0 0; /* 상하 여백 */
  }
  
  .dropdown-content:hover {
      /* visibility: visible; /**/
      opacity: 1;
      transform: translateY(0);
  }
  
  /* nav-item에 호버 시 하위 메뉴 표시 */
  .nav-item:hover .dropdown-content{
      display: block; /* 보이도록 설정 */
  }
  
  .dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px 10px; /* 여백 설정 */
    width: 100%;
    gap: 10px; /* 아이콘과 텍스트 간 간격 */
    color: #fff;
    text-decoration: none; /* 링크 밑줄 제거 */
  }
  
  .dropdown-item a {
    display: flex; /* 링크 내부에서 아이콘과 텍스트를 같은 줄에 배치 */
    align-items: center; /* 수직 가운데 정렬 */
    color: inherit; /* 부모 요소의 색상 상속 */
    text-decoration: none; /* 링크 밑줄 제거 */
  }
  
  .dropdown-item i {
    margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 설정 */
    color: inherit; /* 부모 요소의 색상 상속 */
  }