/* styles.css */
.section {
    padding: 50px;
    color: rgb(98, 91, 91);
    min-height: 100vh; /* 각 섹션이 화면 전체 높이를 차지하도록 설정 */
  }
  
  #home {
    background-image: url('../images/background/home.png');
    background-size: cover;
    background-position: center;
  }
  
  #features {
    background-image: url('../images/background/features.png'); 
    background-size: cover;
    background-position: center;
    color: rgb(22, 22, 22);
  }

  #features p {
    color: rgb(0, 0, 0); 
  }
